body {
    height: 3000px;
}



@media all and (max-width:991px) {

    /* ////////////////////////////////////////////////////////////////// */
    /*                            در خرید سر ماه                         */
    .buy1 {
        height: 35px !important;
        object-fit: cover;

    }

    .buy2 {
        height: 60px !important;
        object-fit: cover;
        display: none;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                         ورود | ثبت نام                            */
    .logo {
        height: 24px;
    }

    .soal {
        font-size: 15px;
        color: rgb(80, 80, 80);
        border: 2px solid rgb(80, 80, 80);
        border-radius: 5px;
        padding: 2px 5px;
    }

    .tog {
        font-size: 15px;
        color: pink !important;

    }

    .vared,
    .khat,
    .cart,
    .nonkon {
        display: none;
        margin: 0;
    }

    .cart1 {
        transform: rotateY(180deg);
        color: black;
        font-size: 20px;
        margin-left: 10px;
    }

    .vared1 {
        /* border: 1px solid rgb(210, 210, 210); */
        padding: 10px;
        border-radius: 10px;
        color: black;
        font-size: 15px;

    }

    .zare1 {
        color: rgb(80, 80, 80);
        right: 20px;
        top: 13px;
        font-size: 17px;
    }

    .input1 {
        width: 100%;
        height: 40px;
        background-color: #f0f0f1;
        border: 0;
        border-radius: 10px;
    }

    .fontt {
        font-size: 13px;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                                اسلایدر                             */

    .imgg {
        height: 268px;
        object-fit: cover;
    }

    /* //////////////////////////////////////////////// */
    .sabad {
        width: 40px;
    }

    .sabad-text {
        font-size: 20px;
        margin-top: 7px;
    }



    .sheg-img {
        width: 68px;
        height: 69px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .boro {
        width: 50px;
        height: 40px;
        background-color: aqua;
    }

    .rad {
        border-radius: 20px;
        background-color: #eeefee;
    }

    .colorr {
        color: #39ae00;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                             برنج و روغن                           */
    /* none */
    /* ////////////////////////////////////////////////////////////////// */
    /*                    دسته بندی های دیجی کالا                        */
    .da-img {
        width: 90px;
    }

    .t-align {
        text-align: center;
        font-size: 13px;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                               بینگو                               */
    /* none */
    /* ////////////////////////////////////////////////////////////////// */
    /*                             پیشنهاد                               */
    .mah-img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    /* ///////////////////////////////////// */

    /* none */
    /* ////////////////////////////////////////////////////////////////// */
    /*                            لوگو فوتر                              */
    .img-width {
        height: 93px !important;
    }

    .font-p {
        font-size: 13px;
    }

    .w-cus {
        width: 100%;
    }

    /* ////////////////////////////////////////////////////////// */
    .logo-width {
        width: 24px !important;
    }

    /* //////////////////////////////////////////////////// */
    .mon-width {
        width: 130px;
    }

}

/* /////////////////////////////////////////////////////////////////////////// */
.imgg2 {
    width: 52px;
    height: 52px;
}

.spanz {
    text-align: center;
}

.llink {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.sabad-a {
    text-decoration: none;
}

/*                              دیجی جت                               */
/* none */
/* ////////////////////////////////////////////////////////////////// */
/*                             برنج و روغن                           */
/* none */
/* ////////////////////////////////////////////////////////////////// */
/*                    دسته بندی های دیجی کالا                        */
.daste {
    font-size: 24px;
}

.daste1 {
    font-size: 1px;
}

.t-l {
    text-decoration: none;
    color: black;
}

.t-l:hover {
    color: black;
}

/* ////////////////////////////////////////////////////////////////// */
/*                               بینگو                               */
/* none */
/* ////////////////////////////////////////////////////////////////// */
/*                             پیشنهاد                               */
.pish-img {
    height: 60px;
}

.foot-tall {
    height: 80px !important;
}


/* ////////////////////////////////////////////////////////////////// */
/*                             پیشنهاد                               */
.rang {
    background-color: #3c4b6d;
}

/* /////////////////////////////////////////////////////////////////// */
.spanzz {
    text-align: end;
}



@media all and (min-width:992px) {
    .poz {
        top: 0;
        position: sticky;
        z-index: 2;
    }

    .poz2 {
        top: 60px;
        position: sticky;
        z-index: 2;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                            در خرید سر ماه                         */
    .buy2 {
        height: 60px !important;
        object-fit: cover;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                         ورود | ثبت نام                            */

    .logo {
        height: 30px;
    }

    .zare {
        color: rgb(80, 80, 80);
        right: 20px;
        top: 13px;
        font-size: 17px;
    }

    .input {
        width: 600px;
        height: 40px;
        background-color: #f0f0f1;
        border: 0;
        border-radius: 10px;
    }

    .cart {
        transform: rotateY(180deg);
        color: black;
        font-size: 20px;
        margin-left: 10px;
    }

    .khat {
        margin-left: 20px;
        margin-right: 15px;
        height: 24px;
        border-left: 1px solid rgb(80, 80, 80);
    }

    .vared {
        border: 1px solid rgb(210, 210, 210);
        padding: 10px;
        border-radius: 10px;
        color: black;
        font-size: 15px;

    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                         2ورود | ثبت نام                           */
    .damn {
        list-style: none;
    }

    .damn li a {
        text-decoration: none;
        font-size: 12px;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                                اسلایدر                             */

    .imgg {
        height: 400px;
        object-fit: cover;
    }

    /* ///////////////////////////////////////////////////////////////////// */
    .sabad {
        width: 66px;
        height: 66px;
    }

    .sheg-img {
        width: 74px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .boro {
        width: 150px;
        height: 50px;
        background-color: aqua;

    }

    .rad {
        border-radius: 20px;
        background-color: #eeefee;
        height: 102px;
    }

    .colorr {
        color: #39ae00;
    }

    .colorr1 {
        font-size: 14px;
    }

    .colorr2 {
        font-size: 18px;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                             برنج و روغن                           */

    /* none */

    /* ////////////////////////////////////////////////////////////////// */
    /*                    دسته بندی های دیجی کالا                        */
    .da-img {
        width: 170px;
    }

    .t-align {
        text-align: center;
        font-size: 16px;
    }

    .w-cus {
        width: 110%;
    }

    /* ////////////////////////////////////////////////////////////////// */
    /*                               بینگو                               */
    /* none */
    /* ////////////////////////////////////////////////////////////////// */
    /*                             پیشنهاد                               */
    .mah-img {
        width: 85px;
        height: 85px;
        object-fit: contain;
    }

    .img-width {
        height: 106px !important;
    }

    /* //////////////////////////////////////// */
    .logo-width {
        width: 44px !important;
    }

    /* //////////////////////////////////////////////////////// */
    .mon-width {
        width: 150px;
    }
}