@media all and (max-width:575px) {
    .logo_res {
        width: 100%;
        margin: 0px auto;

    }
}

@media all and (min-width:576px) and (max-width:991px) {
    .logo_res {
        width: 100%;
        margin: 0px auto;
    }
}

@media all and (min-width:992px) {
    .logo_res {
        width: 960px;
        margin: 0px auto;
    }

}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------NAVI-------------------------------------------------------*/
.nav {
    height: 41px;
    background-color: #24695c;

}

.nav ul {
    display: flex;
    text-align: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 0px;
    padding-right: 0px;
}

.nav ul li {
    height: 100%;
}

.nav ul li a {
    display: block;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 41px;
    font-size: 13px;

}

.nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: translateY(-3px);
    transform: scaleX(0);
}

.nav ul li a:hover::after {
    transform: scaleX(1);
    transform: translateY(-3px);
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------SLIDER------------------------------------------------------*/