@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Black.woff2') format('woff2'),
        url('IRANYekanWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb.woff2') format('woff2'),
        url('IRANYekanWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-ExtraBold.woff2') format('woff2'),
        url('IRANYekanWeb-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Light.woff2') format('woff2'),
        url('IRANYekanWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Bold.woff2') format('woff2'),
        url('IRANYekanWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Thin.woff2') format('woff2'),
        url('IRANYekanWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb ExtraBlack';
    src: url('IRANYekanWeb-ExtraBlack.woff2') format('woff2'),
        url('IRANYekanWeb-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Medium.woff2') format('woff2'),
        url('IRANYekanWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Black.woff2') format('woff2'),
        url('IRANYekanWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Thin.woff2') format('woff2'),
        url('IRANYekanWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb ExtraBlack';
    src: url('IRANYekanWeb-ExtraBlack.woff2') format('woff2'),
        url('IRANYekanWeb-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-ExtraBold.woff2') format('woff2'),
        url('IRANYekanWeb-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Medium.woff2') format('woff2'),
        url('IRANYekanWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Bold.woff2') format('woff2'),
        url('IRANYekanWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb.woff2') format('woff2'),
        url('IRANYekanWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Light.woff2') format('woff2'),
        url('IRANYekanWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

